/* start footer  */
footer {
    background-color: black;
    color: white;
  
}
footer .footerContent{
    padding: 30px 0;
    display: flex;
    width: 80vw;
    margin: auto;
}


footer .item1 {
    width: 50%;
}

footer .item1 .footerLongText {
    margin-top: 18px;
    flex-wrap: wrap;
}

footer .item1 .footerShortText {
    margin-top: 30px;
}

footer .item2 {
    width: 50%;
}

footer .item2 .footerUL1 {
    display: flex;
    justify-content: flex-end;
}

footer .item2 .footerUL1 li {
    list-style: none;
    margin-left: 30px;
}

footer .item2 .footerUL2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
}

footer .item2 .footerUL2 li {
    list-style: none;
    margin-left: 10px;
}

/* end footer */