/* start footer  */
footer {
    background-color: black;
    color: white;
  
}
footer .footerContent{
    padding: 30px 0;
    display: flex;
    width: 80%;
    margin: auto;
}


footer .item1 {
    width: 50%;
}

footer .item1 .footerLongText {
    margin-top: 18px;
    flex-wrap: wrap;
}

footer .item1 .footerShortText {
    margin-top: 30px;
}

footer .item2 {
    width: 50%;
}

footer .item2 .footerUL1 {
    display: flex;
    justify-content: end;
}

footer .item2 .footerUL1 li {
    list-style: none;
    margin-left: 30px;
}

footer .item2 .footerUL2 {
    display: flex;
    justify-content: end;
    margin-top: 60px;
}

footer .item2 .footerUL2 li {
    list-style: none;
    margin-left: 10px;
}

/* end footer */
@media screen and ( min-width: 400px) and (max-width:768px) {
    footer .footerContent{
        display: block;
    }
    footer .item1{
        width: 100%;
    }
    footer .item2{
        width: 100%;
    }
    footer .item2 {
        justify-content: start;
    }
    footer .item2 .footerUL1{
        justify-content: start;
    }
    footer .item2 .footerUL1 li{
        margin-left: 0;
        margin-right: 17px;
    }
    footer .item2{
        margin-top: 30px;
    }
    footer .item2 .footerUL2{
        justify-content: start;
    }
    footer .item2 .footerUL2 li{
        margin-right: 10px;
        margin-left: 0;
    }
    footer .item2 .footerUL2{
        margin-top: 30px;
    }
}